# Cloud sync (optional)
EXPO_PUBLIC_TASKNOTES_SYNC_URL=
EXPO_PUBLIC_TASKNOTES_SYNC_API_KEY=

# AWS Cognito (desktop-like flow)
# Required for Login button
EXPO_PUBLIC_COGNITO_REGION=
EXPO_PUBLIC_COGNITO_CLIENT_ID=
